body {
    background-image: url('../back2.png');
    font-family: sans-serif;
}

.content {
    padding: 20px;
    margin:auto;
}

.card-header h1{
    color: white;
}

.card-text{
    color: white;
}

#get-started {
    margin: auto;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

#start-button {
    margin: 20px;
}

